<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.HealthcareDBConnectionString"
            connectionString="Data Source=SLAVE_1\SQLEXPRESS;Initial Catalog=HealthcareDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>